<div class="parent">
  <div class="child">
    <div nz-row class="imgDiv">
      <h2 class="header">Post Review</h2>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="giveReview()">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
            <textarea rows="5" nz-input placeholder="Write a Review" formControlName="review"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- Star rating component with label in the same line -->
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <div class="rate-container">
                <label class="rate-label">Rate:</label>
                <nz-rate formControlName="rating"></nz-rate>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <button nz-button class="login-form-button" nzType="primary">Post</button>
    </form>
  </div>
</div>
