<div class="bg">
  <div class="parent">
    <div class="child">
      <div nz-col>
        <h1 style="margin-left: 55px;">Client Signup</h1>
      </div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

        <nz-form-item>
          <nz-form-control
            [nzHasFeedback]="validateForm.get('email')?.value && validateForm.get('email')?.valid"
            [nzValidateStatus]="validateForm.get('email')?.value && validateForm.get('email')?.valid ? 'success' : ''">
            <input nz-input placeholder="E-mail" formControlName="email" id="email" />
            <nz-form-explain *ngIf="validateForm.get('email')?.invalid && (validateForm.get('email')?.dirty || validateForm.get('email')?.touched)">
              <div *ngIf="validateForm.get('email')?.errors?.['required']">Email is required</div>
              <div *ngIf="validateForm.get('email')?.errors?.['email']">Please enter a valid email address</div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            [nzHasFeedback]="validateForm.get('password')?.value && validateForm.get('password')?.valid"
            [nzValidateStatus]="validateForm.get('password')?.value && validateForm.get('password')?.valid ? 'success' : ''">
            <input nz-input type="password" placeholder="Password" formControlName="password" id="password" />
            <nz-form-explain *ngIf="validateForm.get('password')?.invalid && (validateForm.get('password')?.dirty || validateForm.get('password')?.touched)">
              <div *ngIf="validateForm.get('password')?.errors?.['required']">Password is required</div>
              <div *ngIf="validateForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>
              <div *ngIf="validateForm.get('password')?.errors?.['strongPassword']">Password must contain uppercase, lowercase, number, and special character</div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            [nzHasFeedback]="validateForm.get('checkPassword')?.value && validateForm.get('checkPassword')?.valid"
            [nzValidateStatus]="validateForm.get('checkPassword')?.value && validateForm.get('checkPassword')?.valid ? 'success' : ''">
            <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="checkPassword" />
            <nz-form-explain *ngIf="validateForm.get('checkPassword')?.invalid && (validateForm.get('checkPassword')?.dirty || validateForm.get('checkPassword')?.touched)">
              <div *ngIf="validateForm.get('checkPassword')?.errors?.['required']">Confirmation password is required</div>
              <div *ngIf="validateForm.get('checkPassword')?.errors?.['matchOther']">Passwords do not match</div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            [nzHasFeedback]="validateForm.get('name')?.value && validateForm.get('name')?.valid"
            [nzValidateStatus]="validateForm.get('name')?.value && validateForm.get('name')?.valid ? 'success' : ''">
            <input nz-input placeholder="Name" formControlName="name" id="name" />
            <nz-form-explain *ngIf="validateForm.get('name')?.invalid && (validateForm.get('name')?.dirty || validateForm.get('name')?.touched)">
              <div *ngIf="validateForm.get('name')?.errors?.['required']">Name is required</div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            [nzHasFeedback]="validateForm.get('lastname')?.value && validateForm.get('lastname')?.valid"
            [nzValidateStatus]="validateForm.get('lastname')?.value && validateForm.get('lastname')?.valid ? 'success' : ''">
            <input nz-input placeholder="Lastname" formControlName="lastname" id="lastname" />
            <nz-form-explain *ngIf="validateForm.get('lastname')?.invalid && (validateForm.get('lastname')?.dirty || validateForm.get('lastname')?.touched)">
              <div *ngIf="validateForm.get('lastname')?.errors?.['required']">Lastname is required</div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            [nzHasFeedback]="validateForm.get('phone')?.value && validateForm.get('phone')?.valid"
            [nzValidateStatus]="validateForm.get('phone')?.value && validateForm.get('phone')?.valid ? 'success' : ''">
            <input nz-input placeholder="Phone" formControlName="phone" id="phone" />
            <nz-form-explain *ngIf="validateForm.get('phone')?.invalid && (validateForm.get('phone')?.dirty || validateForm.get('phone')?.touched)">
              <div *ngIf="validateForm.get('phone')?.errors?.['pattern']">Please enter a valid phone number</div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
          Register
        </button>
        <br><br>
        Already have an account? <a routerLink="/login">Login now!</a>
      </form>
    </div>
  </div>
</div>
