.bg {
  background-color: #f8f8f8;
  padding: 20px;
  min-height: 100vh;

  .ad-details-container {
    display: flex;
    justify-content: space-between; // Positions children on opposite ends
    background-color: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;

    .ad-detail {
      flex: 1; // Takes up only necessary space
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;

      .ad-image {
        flex: 0 0 250px;
        img {
          width: 100%;
          height: auto;
          max-height: 180px;
          border-radius: 10px;
        }
      }

      .ad-info {
        padding-left: 20px;
        flex: 1;

        h2 {
          color: #108ee9;
          cursor: pointer;
          font-size: 24px;
        }

        h5, p {
          color: #333;
          margin-top: 10px;
          font-size: 16px;
        }

        strong {
          font-weight: bold;
        }
      }
    }

    .book-service {
      width: 300px; // Fixed width for consistency
      background-color: #f9f9f9; // Slightly different background for emphasis
      padding: 20px;
      border-left: 2px solid #f0f0f0; // Subtle separator from ad details
      h2 {
        margin-bottom: 10px;
        color: #108ee9; // Match the style of ad-info
        font-size: 24px;
      }

      button {
        background-color: #108ee9;
        color: #ffffff;
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          background-color: #0e7ac7;
        }
      }

      form {
        margin-top: 10px;
      }
    }
  }
}
